<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    <a href="/add-blog"><button>Add Trip</button></a>

    <section>
        {{#blogs}}
            <div>
                <h2>{{title}}</h2>
                <h4>{{date_created}}</h4>
                <h4>{{date_updated}}</h4>
                <p>{{body}}</p>
            </div>
        {{/blogs}}
    </section>
</body>
</html>