<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {{> menu}}

    <section>
        <div>
            <h3>Login</h3>
            <form method="POST" action="/login">
                <input type="text" placeholder="username" name="username" required>
                <input type="password" placeholder="password" name="password" required>
                <button>Login</button>
            </form>
            <a href="login/register">Click here to create an account</a>
        </div>
    </section>
</body>
</html>