body{
  margin-left: 3rem;
  margin-right: 3rem;
}

.nav-container {
  display: flex;
  background-color: #1e90ff;
  color: white;

  gap: 3rem;
}

.nav-container h1 {
  margin: 1rem;
  align-self: center;
}

.menu-option {
  margin: 1rem;
  align-self: center;
  font-size: 1.3rem;
}

.books-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin: 1rem;
}

.book{
  display: flex;
  flex-direction: column;
  width: 7rem;
  text-align: center;
}

.book img{
  height: 11rem;
}

.book h6{
  margin: .5rem;
}

.book p{
  font-size: .8rem;
  margin: 0;
}

.footer{
  display: flex;
  background-color: #cdcdcd;
  justify-content: center;
}